<!DOCTYPE html>
<html>
  <head>
    <title>FswdTodolist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <body class="<%= controller_name %> <%= action_name %>">
    <%= yield %>

    <div>
    <input type="text" id="new-task-content" placeholder="Enter task description">
    <button onClick={handleClick} id="add-task-button">Add Task</button>
  </div>

  <div>
    <button onClick={showAll} id="toggle-all">All Tasks</button>
    <button onClick={showActive} id="toggle-active">Active Tasks</button>
    <button onClick={showComplete} id="toggle-complete">Complete Tasks</button>
  </div>
  </body>
</html>
